:host {
  display: block;
}

.inlineOverride {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.jut__NavigationContent__navigationContent li:nth-last-child(3) {
  position: relative;
  float: right;
}